﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/LoginLayout.cshtml";
}

<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Login</title>
    <!-- Custom Theme files -->
    <link href="style/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!--Google Fonts-->
</head>
<body>
    <!--header start here-->
    <form action="Verify" method="post">


    <div class="login">
        <div class="login-main">
            <div class="login-top">
                <img src="image/head-img.png" alt="" />
                <h1>Login <span class="anc-color"> to your account</span> </h1>
                <h2>Login with</h2>
                <ul>
                    <li><a class="fa" href="#"> </a></li>
                    <li><a class="tw" href="#"> </a></li>
                    <li><a class="g" href="#"> </a></li>
                </ul>
                <h3> or</h3>
                <input type="text" placeholder="Username" name="username" required="">
                <input type="password" placeholder="Password" name= "password" required="">
                <div class="login-bottom">
                    <div class="login-check">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked><i> </i> Remember Me</label>
                    </div>
                    <div class="login-para">
                        <p><a href="#"> Forgot Password </a></p>
                    </div>
                    <div class="clear"> </div>
                </div>
                <input type="submit" value="Login" />
                <h4> Don't Have an account ?  @Html.ActionLink("Register Now", "Register")"</a></h4>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Template by <a href="http://w3layouts.com/"> W3layouts </a></p>
    </div>
    <!--header end here-->
    </form>
</body>
</html>
